{% extends "baseapp/master_base_new.html"|pjax:request %}

{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}

{% block extrahead %} 

<link href="/site_media/static/css/bootstrap.css" rel="stylesheet" type="text/css" />

{% endblock %}




{% block content %}

 <div  class="form-group" style="visibility:hide" id="dept_div" name="dept_div"><b>{% trans "Select Department for the Report:" %}</b><select id="dept_choi" class="form-control" name='dept_choi' onselect="dept_rep();" onchange="dept_rep();" >
                <option value="" selected="selected">Select</option>
                <option value = 'D.S.E. Report' >D.S.E. Report</option>                
                <option value = 'D.E.E. Report' >D.E.E. Report</option>
                <option value = 'All Directorate Report' >All Directorate Report</option>
       </select></div>

 <div id="dse_rep" name="dse_rep" style="visibility:hide">

<center><h2> School Profile - Teaching Post Sanctioned / Filled - District wise Status Report</h2></center>


                  <table class='table table-bordered table-striped2' border="2" align="center" cellspacing="0">
                 
                      <tr>
                        
                        <th width=15% rowspan="3" class="text-center" style="vertical-align:middle;">DISTRICT</th>
                        <th width=5% rowspan="3"  class="text-center" style="vertical-align:middle;">D.S.E. - No. of Schools</th>
                        <th width=5% colspan="6"  class="text-center" style="vertical-align:middle;">No. of Post Sanction / Filled (Management-wise)</th>
                      </tr>
                    <tr>                         
                        <th width=5% colspan="2" class="text-center">Government</th>

                        <th width=5% colspan="2" class="text-center">Aided</th>
                        <th width=5% colspan="2" class="text-center">Total</th>

                        </tr>
                      <tr>                         
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>                        
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>                        
                        </tr>            

    {% for i in dl %}
                      <tr>
                        
                        <td><a href="/schoolnew/sch_dist_repnti/{{i.id}}/1">{{i.district_name}}</a></td>
                        <td align="right"> 
                        {% for j in  schlst %}
                        {% if j.district == i.id and j.chk_dept == 1 %}
                            {{ j.disttot }}
                        {% endif %}
                        {% endfor %}
                        </td>


                        <td align="right">                        
                        {% for j in  dsemandet %}
                                {% if j.district == i.id and j.manage_cate_id == 1 %}
                                    {{ j.dsemdet }}
                                {% endif %}
                        {% endfor %}
                        </td>

                        <td align="right">                        
                        {% for j in  dsemanfdet %}
                                {% if j.district == i.id and j.manage_cate_id == 1 %}
                                    {{ j.dsemfdet }}
                                {% endif %}
                        {% endfor %}
                        </td>                        
                        <td align="right"> 
                        {% for j in dsemandet %}
                                {% if j.district == i.id and j.manage_cate_id == 2 %}
                                    {{ j.dsemdet }}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in dsemanfdet %}
                                {% if j.district == i.id and j.manage_cate_id == 2 %}
                                    {{ j.dsemfdet }}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in  dsemansubtot %}
                                {% if j.district == i.id%}
                                    {{ j.dsemantot}}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in  dsemanfsubtot %}
                                {% if j.district == i.id%}
                                    {{ j.dsemanftot}}
                                {% endif %}
                        {% endfor %}
                        </td>
    </tr>
    {% endfor %}
    <tr>
<th> TOTAL</th>


                        <td align="right"> {% for k in schgrtot %}
                                {% if k.chk_dept == 1 %}
                                    {{ k.schgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in dsemangrtot %}
                                {% if l.manage_cate == 1 %}
                                    {{ l.dsemangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>                        
                        <td align="right"> {% for l in dsemanfgrtot %}
                                {% if l.manage_cate == 1 %}
                                    {{ l.dsemanfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>

                        <td align="right"> {% for l in dsemangrtot %}
                                {% if l.manage_cate == 2 %}
                                    {{ l.dsemangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>                        
                        <td align="right"> {% for l in dsemanfgrtot %}
                                {% if l.manage_cate == 2 %}
                                    {{ l.dsemanfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                      
                        <td align="right"> 
                            {{dsemantotal.staff__post_sanc__sum}}
                        </td>
                        <td align="right"> 
                            {{dsemanftotal.staff__post_filled__sum}}
                        </td>



</tr>
</table>
</div>    

<div id="all_rep" name="all_rep" class="form-group" style="visibility:hide"> 
<center><h2> School Profile - Teaching Post Sanctioned / Filled - District wise Status Report</h2></center>


                  <table class='table table-bordered table-striped2' border="2" align="center" cellspacing="0">
                      <tr>
                        
                        <th width=15% rowspan="3" class="text-center" style="vertical-align:middle;">DISTRICT</th>
                        <th width=5% rowspan="3" class="text-center" style="vertical-align:middle;">DSE Schools</th>
                        <th width=5% rowspan="3" class="text-center" style="vertical-align:middle;">DEE Schools</th>
                        <th width=5% rowspan="3" class="text-center" style="vertical-align:middle;">Total Schools</th>
                        <th width=5% colspan="8"  class="text-center">No. of Post Sanction / Filled (Management-wise)</th>
                      </tr>
                      <tr>                         
                        <th width=5% colspan="2" class="text-center">Government</th>
                        <th width=5% colspan="2" class="text-center">Aided</th>
                        <th width=5% colspan="2" class="text-center">In Offices</th>
                        <th width=5% colspan="2" class="text-center">Total</th>
                        </tr>
                      <tr>                         
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>                        
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>                        
                        </tr>                        
    {% for i in dl %}
                      <tr>
                        
                        <td><a href="/schoolnew/sch_dist_repnti/{{i.id}}/4">{{i.district_name}}</a></td>
                        <td align="right"> 
                        {% for j in  schlst %}
                        {% if j.district == i.id and j.chk_dept == 1 %}
                            {{ j.disttot }}
                        {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right">
                        {% for j in  schlst %}
                        {% if j.district == i.id and j.chk_dept == 2 %}
                            {{ j.disttot }}
                        {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right">
                        {% for j in  disttot %}
                        {% if j.district == i.id %}
                            {{ j.schsubtot }}
                        {% endif %}
                        {% endfor %}
                        </td>

                        <td align="right">                        
                        {% for j in  mandet %}
                                {% if j.district == i.id and j.manage_cate_id == 1 %}
                                    {{ j.mdet }}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in  manfdet %}
                                {% if j.district == i.id and j.manage_cate_id == 1 %}
                                    {{ j.mfdet }}
                                {% endif %}
                        {% endfor %}                        
                        </td>
                        <td align="right"> 
                        {% for j in mandet %}
                                {% if j.district == i.id and j.manage_cate_id == 2 %}
                                    {{ j.mdet }}
                                {% endif %}
                        {% endfor %}
                        </td>                        
                        <td align="right"> 
                        {% for j in manfdet %}
                                {% if j.district == i.id and j.manage_cate_id == 2 %}
                                    {{ j.mfdet }}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in mandet %}
                        
                                {% if j.district == i.id and j.manage_cate_id == null %}
                                    {{ j.mdet }}
                                {% endif %}
                        {% endfor %}
                        </td>                        
                        <td align="right"> 
                        {% for j in manfdet %}
                                {% if j.district == i.id and j.manage_cate_id == null %}
                                    {{ j.mfdet }}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in  mansubtot %}
                                {% if j.district == i.id%}
                                    {{ j.mantot}}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in  manfsubtot %}
                                {% if j.district == i.id%}
                                    {{ j.manftot}}
                                {% endif %}
                        {% endfor %}
                        </td>
    </tr>
    {% endfor %}
    <tr>
<th> TOTAL</th>


                        <td align="right"> {% for k in schgrtot %}
                                {% if k.chk_dept == 1 %}
                                    {{ k.schgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for k in schgrtot %}
                                {% if k.chk_dept == 2 %}
                                    {{ k.schgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> 
                            {{schtotal}}
                        </td>
                        <td align="right"> {% for l in mangrtot %}
                                {% if l.manage_cate == 1 %}
                                    {{ l.mangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in manfgrtot %}
                                {% if l.manage_cate == 1 %}
                                    {{ l.manfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in mangrtot %}
                                {% if l.manage_cate == 2 %}
                                    {{ l.mangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>                        
                        <td align="right"> {% for l in manfgrtot %}
                                {% if l.manage_cate == 2 %}
                                    {{ l.manfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in mangrtot %}
                                {% if l.manage_cate == null %}
                                    {{ l.mangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>                        
                        <td align="right"> {% for l in manfgrtot %}
                                {% if l.manage_cate == null %}
                                    {{ l.manfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> 
                            {{mantotal.post_sanc__sum}}
                        </td>
                        <td align="right"> 
                            {{manftotal.post_filled__sum}}
                        </td>



</tr>
</table>
</div>

<div id="dee_rep" name="dee_rep" class="form-group" style="visibility:hide"> 
<center><h2> School Profile - Teaching Post Sanctioned / Filled - District wise Status Report</h2></center>


                  <table class='table table-bordered table-striped2' border="2" align="center" cellspacing="0">

                      <tr>
                        
                        <th width=15% rowspan="3" class="text-center" style="vertical-align:middle;">DISTRICT</th>
                        <th width=5% rowspan="3"  class="text-center" style="vertical-align:middle;">D.E.E. - No. of Schools</th>
                        <th width=5% colspan="6"  class="text-center" style="vertical-align:middle;">No. of Post Sanction / Filled (Management-wise)</th>
                      </tr>
                    <tr>                         
                        <th width=5% colspan="2" class="text-center">Government</th>

                        <th width=5% colspan="2" class="text-center">Aided</th>

                        <th width=5% colspan="2" class="text-center">Total</th>
                        </tr>
                      <tr>                         
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>                        
                        <th width=5% class="text-center">Sanctioned</th>
                        <th width=5% cclass="text-center">Filled</th>
                        </tr>            

    {% for i in dl %}
                      <tr>
                        
                        <td><a href="/schoolnew/sch_dist_repnti/{{i.id}}/2">{{i.district_name}}</a></td>
                        <td align="right"> 
                        {% for j in  schlst %}
                        {% if j.district == i.id and j.chk_dept == 2 %}
                            {{ j.disttot }}
                        {% endif %}
                        {% endfor %}
                        </td>


                        <td align="right">                        
                        {% for j in  deemandet %}
                                {% if j.district == i.id and j.manage_cate_id == 1 %}
                                    {{ j.deemdet }}
                                {% endif %}
                        {% endfor %}
                        </td>

                        <td align="right">                        
                        {% for j in  deemanfdet %}
                                {% if j.district == i.id and j.manage_cate_id == 1 %}
                                    {{ j.deemfdet }}
                                {% endif %}
                        {% endfor %}
                        </td>

                        <td align="right"> 
                        {% for j in deemandet %}
                                {% if j.district == i.id and j.manage_cate_id == 2 %}
                                    {{ j.deemdet }}
                                {% endif %}
                        {% endfor %}
                        </td>
                        <td align="right"> 
                        {% for j in deemanfdet %}
                                {% if j.district == i.id and j.manage_cate_id == 2 %}
                                    {{ j.deemfdet }}
                                {% endif %}
                        {% endfor %}
                        </td>

                        <td align="right"> 
                        {% for j in  deemansubtot %}
                                {% if j.district == i.id%}
                                    {{ j.deemantot}}
                                {% endif %}
                        {% endfor %}
                        </td>

                        <td align="right"> 
                        {% for j in  deemanfsubtot %}
                                {% if j.district == i.id%}
                                    {{ j.deemanftot}}
                                {% endif %}
                        {% endfor %}
                        </td>                        
    </tr>
    {% endfor %}
    <tr>
<th> TOTAL</th>


                        <td align="right"> {% for k in schgrtot %}
                                {% if k.chk_dept == 2 %}
                                    {{ k.schgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in deemangrtot %}
                                {% if l.manage_cate == 1 %}
                                    {{ l.deemangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in deemanfgrtot %}
                                {% if l.manage_cate == 1 %}
                                    {{ l.deemanfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>

                        <td align="right"> {% for l in deemangrtot %}
                                {% if l.manage_cate == 2 %}
                                    {{ l.deemangtot }}
                                {% endif %}
                              {% endfor %}
                        </td>
                        <td align="right"> {% for l in deemanfgrtot %}
                                {% if l.manage_cate == 2 %}
                                    {{ l.deemanfgtot }}
                                {% endif %}
                              {% endfor %}
                        </td>                        

                        <td align="right"> 
                            {{deemantotal.staff__post_sanc__sum}}
                        </td>
                        <td align="right"> 
                                {% if deemanftotal.staff__post_filled__sum %}
                                    {{deemanftotal.staff__post_filled__sum}}
                                {% endif %}
                            
                        </td>

</tr>
</table>
</div>
<center>
<a  class="btn btn-large btn-info" href='/schoolnew/sch_state_abs/'>Back</a>
</center>

<script type="text/javascript">
function dept_rep()
        { 
            var repo_cho=$("#dept_choi option:selected").text()
            if(repo_cho == 'All Directorate Report')
            {
                document.getElementById('dse_rep').style.display = "none";
                document.getElementById('dee_rep').style.display = "none";
                document.getElementById('all_rep').style.display = "";
                
            } 
            else if(repo_cho == 'D.S.E. Report')
            {   

                document.getElementById('dse_rep').style.display = "";
                document.getElementById('dee_rep').style.display = "none";
                document.getElementById('all_rep').style.display = "none";  
            }
            else if(repo_cho == 'D.E.E. Report')
            {   
                document.getElementById('dee_rep').style.display = "";
                document.getElementById('dse_rep').style.display = "none";
                document.getElementById('all_rep').style.display = "none"; 
            }  

            else 
            {   
                document.getElementById('dee_rep').style.display = "none";
                document.getElementById('dse_rep').style.display = "none";
                document.getElementById('all_rep').style.display = "none"; 
            }                        
        }
window.onload=dept_rep();
window.stop();
</script>

{% endblock %}


