{% extends 'teachers/base.html' %}
{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}
{% load imagekit %}
{% block content %}
<table width="100%" border="1" align="center">
  <h2 align="center" style="font-size:20px;">Staff Profile</h2>
        <td valign="TOP">
        <table style="margin-left:10px;">
        <tr> <td style="border:0px;padding-top:10px;color:blue;" > Name </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.name | upper }} </td> </tr>
        
        <tr><td style="border:0px;padding-top:10px;color:blue;" > ID </td><td style="border:0px;" > : </td> <td style="border:0px;" >{{ instancee.pri_tea_id }} </td> </tr>

         <tr> <td style="border:0px;padding-top:10px;color:blue;" > School Name </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ user.account.get_user_info.school_name }} </td> </tr>

         <tr> <td style="border:0px;padding-top:10px;color:blue;" > Staff Type </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.designation_typeno | upper}} </td> </tr>


        <tr> <td style="border:0px;padding-top:10px;color:blue;" > Designation</td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.designation }} </td> </tr>

        <tr> <td style="border:0px;padding-top:10px;color:blue;" > Subject</td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >  {{ instancee.subject | upper }}   &nbsp;&nbsp;&nbsp;   </td> </tr>

       


        <tr> <td style="border:0px;padding-top:10px;color:blue;" > Date of Birth</td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.dob  }} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Gender </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.gender |upper}} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" >Father's Name / Spouse's Name
 </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.father_name | upper }} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Date of Appointment </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.doa  }} </td> </tr>

  
   <tr> <td style="border:0px;padding-top:10px;color:blue;" >Class Assigned </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.class_assigned  | upper}} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Teaching Experience </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.teaching_experience }} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Trained Staff </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.train_untrain | upper }} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Scale of Pay </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.scaleofpay }} </td> </tr>

 <tr> <td style="border:0px;padding-top:10px;color:blue;" > Gross Pay
</td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.grossofpay }} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Whether TET Passed
 </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" > {% if instancee.whethertet %} YES {%else%} NO {%endif%}  </td> </tr>



 <tr> <td style="border:0px;padding-top:10px;color:blue;" > Date
 </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{% if  instancee.date_of_pass %} {{instancee.date_of_pass}} {% else %} ---- {% endif %} </td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" > Reg No.
 </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{% if instancee.reg_no %} {{instancee.reg_no}} {% else %} ---- {% endif %}</td> </tr>

  <tr> <td style="border:0px;padding-top:10px;color:blue;" >ESI No.</td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.esino | upper }} </td> </tr>
  <tr> <td style="border:0px;padding-top:10px;color:blue;" >EPF No. </td><td style="border:0px;padding-top:10px;" > : </td> <td style="border:0px;padding-top:10px;" >{{ instancee.epfno | upper }} </td> </tr>



        </table></td></tr></table>

            </br>



<table border="1" width="100%" cellpadding="5">
  <tr>
  <th colspan="8" font color='blue'><center>DETAILS OF EDUCATIONAL QUALIFICATION</center></th>
  </tr>
  <tr >
  <th style="text-align:center"> S.No.</th>
   <th style="text-align:center; ">{% trans "Qualification" %}</th>
            <th style="text-align:center;">{% trans "Subject" %}</th>
            <th style="text-align:center;">{% trans "Medium of Instruction" %}</th>
            <th style="text-align:center;">{% trans "Month of Passing" %}</th>
            <th style="text-align:center;">{% trans "Year of Passing" %}</th>
            <th style="text-align:center;">{% trans "Name of the University / Board" %}</th>
           <th style="text-align:center;">{% trans "Grade in which Passed" %}</th>
  </tr>
  {% for i in edu_list %}
  <tr>
  <td align="center">{{forloop.counter}}</td> 
   <td> {{ i.qualification |upper}}</td>
        <td> {{ i.subject |upper }}</td>
      <td> {{ i.medium_of_instruction |upper }}</td>
      <td> {{ i.month  |upper}}</td>
        <td> {{ i.year }}</td>
        <td> {{ i.university  |upper}}</td>
      <td> {{ i.remarks |upper }}</td>  
  </tr>
  {% endfor %}
   
            </table>
       

<a  class="btn btn-large btn-success" href='/teachers/pdfprint/{{instancee.pri_tea_id}}'>Print PDF</a>











<style type="text/css">
.mytable {
margin:0px;padding:0px;
width:100%; box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;

-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}.mytable table{
width:100%;
height:100%;
margin:0px;padding:0px;
}.mytable tr:last-child td:last-child {
-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;
}
.mytable table tr:first-child td:first-child {
-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.mytable table tr:first-child td:last-child {
-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;
}.mytable tr:last-child td:first-child{
-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;
}.mytable tr:hover td{
background-color:red;
}
.mytable td{
vertical-align:middle;
    background:-o-linear-gradient(bottom, #ffffff 5%, gray 100%);   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, gray) );   background:-moz-linear-gradient( center top, #ffffff 5%, gray 100% );   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="gray"); background: -o-linear-gradient(top,#ffffff,d3e9ff);
background-color:red;
border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:left;
padding:7px;
font-size:18px;
font-weight:normal;
color:;
}.mytable tr:last-child td{
border-width:0px 1px 0px 0px;
}.mytable tr td:last-child{
border-width:0px 0px 1px 0px;
}.mytable tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.mytable tr:first-child td{
    background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );    background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");  background: -o-linear-gradient(top,#0057af,007fff);
background-color:red;
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
font-size:18px;
font-weight:bold;
color:#ffffff;
}
.mytable tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );    background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");  background: -o-linear-gradient(top,#0057af,007fff);
background-color:red;
}
.mytable tr:first-child td:first-child{
border-width:0px 0px 1px 0px;
}
.mytable tr:first-child td:last-child{
border-width:0px 0px 1px 1px;
}



.s_button {
    display: block;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    width: 100px;
    margin: 20px;

    color: #FFF;
    text-align: center;
    border: solid #427AA8 1px;
    
    text-decoration: none;
    border-radius: 5px;
    /* Gradient */
    background: #0088cc;    
    
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);
}

.s_button:hover {
    background: #59A3E0;
    text-decoration: none;
    filter: none;
}​


</style>
<style type="text/css">
.button {
    background: #25A6E1;
    background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9
}                
</style>
    

{% endblock %}
