{% extends 'teachers/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load url from future %}
{% load static %}

{% block extrahead %} 

{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/tipped.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tipped.css' %}"/>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
<script type="text/javascript">

$(document).ready(function() {


  Tipped.create('#first_insta_date',function() {
      var app_date = document.getElementById('dategovt').value;
      return "Enter the Date after the Date of Appointment: " + app_date;
    });


  Tipped.create('#sanctioned_date',function() {
      var app_date = document.getElementById('dategovt').value;
      return "Enter the Date after the Date of Appointment: " + app_date;
    });
});

</script>

<style type="text/css">

.my-error-class {
   color:red;
}

.my-valid-class {
   color:green;
}
}

</style>

<script type="text/javascript">

       $.validator.setDefaults( {

           submitHandler: function () {
               form3.submit();

           }

       } );



       $( document ).ready( function () {

           $( "#form3" ).validate( {

               errorClass: "my-error-class",

               validClass: "my-valid-class",

               rules: {

                   sanctioned_amt: {

                       required:true
                

                   },

                   installments: {

                       required:true

                   },

                   monthly_installment: {

                       required:true
                 
                   },

                   first_insta_date: {

                       required:true
                 

                   },

                   sanctioned_order: {

                       required:true

                 

                   },

                   sanctioned_date: {

                       required:true,

                       minlength:5

                      

                   }                   

               },

               messages: {

                   sanctioned_amt: {

                       required: "Enter the Amount Sanctioned "

                   },

                   installments: {

                       required: "Enter the Total No. of Instalments"
                   

                   },

                   monthly_installment: {

                       required: "Enter the Monthly Instalment Amount"

                   },

                   first_insta_date: {

                       required: "Enter the First Instalment Date"

                   },

                   sanctioned_order: {

                       required: "Enter the Sanction Order"

                   },

                   sanctioned_date: {

                       required: "Enter the Date of Sanction"

                   }

               },

               errorElement: "em",

               errorPlacement: function ( error, element ) {

                   // Add the `help-block` class to the error element

                   error.addClass( "help-block" );



                   if ( element.prop( "type" ) === "checkbox" ) {

                       error.insertAfter( element.parent( "label" ) );

                   } else {

                       error.insertAfter( element );

                   }

               },

               highlight: function ( element, errorClass, validClass ) {

                   $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );

               },

               unhighlight: function (element, errorClass, validClass) {

                   $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );

               }

           } );



      } );

   </script>



<script type="text/javascript">
         $(function() {           
         $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
         $("[data-mask]").inputmask(); });  </script>

<script type="text/javascript">
function SancDate(val,id) 
{     
   
    var regis_date = val;
    var regis_validity = document.getElementById('dategovt').value;
     
    var today = new Date(); 
    

     if(regis_date != "") 
    {  
        var ONE_DAY = 1000 * 60 * 60 * 24;
        var record_day2=regis_date.split("/");  
        var sum1=record_day2[2]+'/'+record_day2[1]+'/'+record_day2[0];
        var record5 = new Date(sum1);
        var record4 = new Date(regis_validity); 
        var record3 = new Date(today);
        var date1_ms = record5.getTime();        
        var date2_ms = record4.getTime();        
        var date3_ms=record3.getTime();        
        var difference_ms1 = (date3_ms - date2_ms)-1;
        var difference_ms2 = (date3_ms - date1_ms)-1;
        var govt=Math.ceil(difference_ms1/ONE_DAY);
        var enterdate=Math.ceil(difference_ms2/ONE_DAY);

        if(govt < enterdate || enterdate <= 0 ) 
        {       
            if (id == "first_insta_date")
            {
            alert("Enter the Date after the Date of Appointment"); 
            first_insta_date.style.backgroundColor = "MistyRose";
            document.getElementById('first_insta_date').value="";
            document.getElementById('first_insta_date').focus();
            }
            else 
            {
            alert("Enter the Date after the Date of Appointment"); 
            sanctioned_date.style.backgroundColor = "MistyRose";
           document.getElementById('sanctioned_date').value="";
           document.getElementById('sanctioned_date').focus();
            }   
            }       
        else
            {
            first_insta_date.style.backgroundColor = "white";
            sanctioned_date.style.backgroundColor = "white";
            }
            return false;
    }   
}
</script>


<script type="text/javascript">
function amount(val) 
{     
    var sanc_amount = document.getElementById('sanctioned_amt').value;  
    var instalment = document.getElementById('installments').value;
    if(sanc_amount > 0 && instalment > 0) 
    {  
        intal_amt=Math.round(sanc_amount/instalment);
    document.getElementById('monthly_installment').value=intal_amt;
    }
    }
</script>

<script type="text/javascript">
function AfterDate(val) 
{     
    var regis_date = document.getElementById('sanctioned_order').value;  
    var regis_validity = document.getElementById('dategovt').value;
    var today = new Date(); 
     if(regis_date != "") 
    {  
        var ONE_DAY = 1000 * 60 * 60 * 24;
        var record_day2=regis_date.split("/");  
        var sum1=record_day2[2]+'/'+record_day2[1]+'/'+record_day2[0];
       
        var record5 = new Date(sum1);
        var record4 = new Date(regis_validity); 
        var record3 = new Date(today);
        var date1_ms = record5.getTime();        
        var date2_ms = record4.getTime();        
        var date3_ms=record3.getTime();        
        var difference_ms1 = (date3_ms - date2_ms)-1;
        var difference_ms2 = (date3_ms - date1_ms)-1;
        var govt=Math.ceil(difference_ms1/ONE_DAY);
        var enterdate=Math.ceil(difference_ms2/ONE_DAY);
       

        if(govt < enterdate || enterdate <= 0  ) 
        {
        alert("Enter the Date after the Date of Appointment");
        sanctioned_order.style.backgroundColor = "MistyRose";
        sanctioned_order.focus();
        return false; 
      }  
    } }
</script>

<div class="content">
  <form id="form3" action='#' method='post' enctype="multipart/form-data" name="frm">
<fieldset>
{% csrf_token %}

<center><h5 style="display:block;text-align:top;float:center;font-size:200%;color:red;"> 
DETAILS OF GPF / TPF LOAN</h5></center>
<center><h3>(Additional rows can be created after saving each detail)</h3></center>
<p align="right" >  <a  class="btn btn-small btn-success" href='/teachers/teacher_personnel_entry_after/{{tid}}/'>Back...</a></p>


 <h1><font color='white'> Staff-ID : 
{{ staff_uid}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name : {{staff_name |upper }}</font></h1>
<br> 
<input type="hidden" name="dategovt" id="dategovt" value="{{ dategovt }}">

<div class="form-group"> <input type="hidden" class="form-control" class="mandatory" id="staff_uid" name="staff_uid" value="{{ staff_uid }}" /></div>

<div class="form-group"  > <b><strong style="color:red;">*</strong>{% trans "Amount Sanctioned" %}</b><input type="number" class="form-control" class="mandatory" id="sanctioned_amt" name="sanctioned_amt"  value="{{form.sanctioned_amt.value}}" onclick="select()" placeholder="NONE" maxlength="9" /></div>
<span class="error_message">{{form.sanctioned_amt.errors}}</span>


<div class="form-group"  > <b><strong style="color:red;">*</strong>{% trans "Total No.Of Instalments" %}</b><input type="number"  class="form-control" class="mandatory"      id="installments" name="installments"  value="{{form.installments.value}}" onclick="select()" onblur="amount(this.value)" placeholder="NONE" maxlength="3" /></div>
<span class="error_message">{{form.installments.errors}}</span>

<div class="form-group"  > <b><strong style="color:red;">*</strong>{% trans "Monthly Instalment" %}</b><input type="number"  class="form-control" class="mandatory" id="monthly_installment" name="monthly_installment"  value="{{form.monthly_installment.value}}" onclick="select()" placeholder="NONE" maxlength="6" readonly /></div>
<span class="error_message">{{form.monthly_installment.errors}}</span>

<div class="form-group"  > <b><strong style="color:red;">*</strong>{% trans "Sactioned Order No." %}</b><input type="text" style="text-transform: uppercase" class="form-control" class="mandatory" id="sanctioned_order" name="sanctioned_order"  value="{{form.sanctioned_order.value}}" onclick="select()" placeholder="NONE" maxlength="50"/></div>
<span class="error_message">{{form.sanctioned_order.errors}}</span>

<div class="form-group"> <b><strong style="color:red;">*</strong>{% trans "Date of Sanction Order" %}</b><input type="text" data-mask="" data-inputmask="'alias': 'dd/mm/yyyy'"  class="form-control" class="mandatory" id="sanctioned_date" name="sanctioned_date"  value="{{form.sanctioned_date.value|date:"d/m/Y" }}" onblur="SancDate(this.value,this.id)"  maxlength="10"/></div>
<span class="error_message">{{form.sanctioned_date.errors}}</span>

<div class="form-group"> <b><strong style="color:red;">*</strong>{% trans "Date of First Instalment" %}</b><input type="text" data-mask="" data-inputmask="'alias': 'dd/mm/yyyy'"  class="form-control" class="mandatory" id="first_insta_date" name="first_insta_date"  value="{{form.first_insta_date.value|date:"d/m/Y" }}" onblur="SancDate(this.value,this.id)"  maxlength="10"/></div>
<span class="error_message">{{form.first_insta_date.errors}}</span>

</fieldset>

<left>
    <button class='btn btn-large btn-success' type='submit'>
    {% trans "Submit" %}
    </button></left> 
<br>
</form>

<form action='' method="POST">
<table  border="2" > 
<tr> 
            <th style="text-align:center; ">{% trans "Sl. No." %}</th> 
            <th style="text-align:center; ">{% trans "Staff Name" %}</th> 
            
            <th style="text-align:center; ">{% trans "Amount Sanctioned" %}</th>
            <th style="text-align:center; ">{% trans "Total No. of Instalments" %}</th>
            <th style="text-align:center; ">{% trans " Monthly Instalment" %}</th>
            <th style="text-align:center; ">{% trans "Date of First Instalment" %}</th>
            <th style="text-align:center; ">{% trans "Sanction Order No." %}</th>
            <th style="text-align:center; ">{% trans "Date of Sanction Order" %}</th>  
            <th style="text-align:center; ">{% trans "Update" %}</th>
</tr> 
</tr> 
 
        
{% for i in edu_list %} 
        <tr> 
        <td>{{forloop.counter}}</td>  
        <td> <a href="/teachers/teacher_full_detail/{{i.id}}"style="text-decoration: none">{{ i.teacherid.name|upper }} </td> 
        <td> {{ i.sanctioned_amt }}</td> 
        <td> {{ i.installments }}</td> 
        <td> {{ i.monthly_installment }}</td> 
        <td> {{ i.first_insta_date }}</td> 
        <td> {{ i.sanctioned_order }}</td> 
        <td> {{ i.sanctioned_date }}</td> 

        <td><a href="/teachers/teacher_tpf_loan_update/{{tid}}/{{i.id}}"><button type="button" class="btn btn-warning">Update</button></a></td> 
     
        {% endfor %} 
        </tr> 
</table> 
</form>
{% endblock %}