
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>Login Page</title>
     <link rel="stylesheet" href="/site_media/static/css/style.css">
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>     
 -->
<style type="text/css">
.test{
    background-color: #006FA0;
}


</style>


</head>
<body>
<script type="text/javascript">
  var keyStr = "ABCDEFGHIJKLMNOP" +
               "QRSTUVWXYZabcdef" +
               "ghijklmnopqrstuv" +
               "wxyz0123456789+/" +
               "=";

function myfun(input) {
     
     var chkpas = document.getElementById("id_password");
     input = escape(input);
     var output = "";
     var chr1, chr2, chr3 = "";
     var enc1, enc2, enc3, enc4 = "";
     var i = 0;
     do {
       chr1 = input.charCodeAt(i++);
        chr2 = input.charCodeAt(i++);
        chr3 = input.charCodeAt(i++);
        enc1 = chr1 >> 2;
        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
        enc4 = chr3 & 63;
        if (isNaN(chr2)) {
           enc3 = enc4 = 64;
        } else if (isNaN(chr3)) {
           enc4 = 64;
        }
 
        output = output +
           keyStr.charAt(enc1) +
           keyStr.charAt(enc2) +
           keyStr.charAt(enc3) +
           keyStr.charAt(enc4);
        chr1 = chr2 = chr3 = "";
        enc1 = enc2 = enc3 = enc4 = "";
     } while (i < input.length);
     chkpas.value=output;
  }

</script>



  <div class="main_body">
<center>
        <div class="test" id="image" style="overflow: hidden; width:100%;">
<img src="/site_media/static/img/SED_logo.png" alt="SED_Logo"> <h1 style="color:MidnightBlue; height:28px;"> </h1>
<h1 style="color:white; font-size: 26px; height: 70px;" > Educational Management Information System </h1>

</div>
<div class="login_box">

<!-- <div style="height:300px; display: table-cell; vertical-align: middle;">
<strong style="color:black; font-size:22px;"> Site is under maintenance. </strong>
</div> -->

<form method="POST" action="{% url "account_login" %}" autocomplete="off" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} class='login'>

  {% csrf_token %}
  

  <p>    <label for="login">Username:</label>
      <input id="id_username" type="text" name="username" maxlength="30">

    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="id_password">
    </p>
       <p>   
            <label for="captcha">Captcha:                  </label></p>
            <p>
           {{form.captcha}}
            </p> 
  <p>
<!-- <tr><th><label for="id_username">Username:</label></th><td><input id="id_username" maxlength="30" name="username" type="text" /></td></tr>
<tr><th><label for="id_password">Password:</label></th><td><input id="id_password" name="password" type="password" onblur="myfun(this.value)" /></td></tr>

<tr>
<td>
<label for="{{ form.captcha.auto_id }}">{{ form.captcha.label }}</label>{{ form.captcha }}<span class="error">{{ form.captcha.errors }}</span>
</td>
</tr> -->

      


</p>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %} 
    <p class="login-submit">
      <button type="submit" class="login-button">Login</button><center><span class="error_message">{% if form.errors %} <p style = "color:red"> Sorry! Invalid Username/Password/Captcha </p>{% endif %}</span>  </center>
    </p>
<p class="forgot-password"><a href="{% url "account_password_reset" %}" class="btn btn-default">Forgot your 
password?</a></p>
<br>
 <strong style="color:#006fa0; font-size: 16px;"> EMIS support mail id <br><strong style="color:black; font-size: 16px;">tnemiscel@gmail.com || tnemisteam@gmail.com support-emis@tnschools.gov.in </strong></strong>
 </form> 





 <p> <a href="/helpdesk/tickets/submit/">Create Ticket</a> |  <a href="">Ticket Status</a> </p>
  <div>
  <div style="height:50px;"></div>
    <div align="center">
| © Educational Management Information System
 | <br>
| Project Designed & Developed by <a href="http://au-kbc.org" target="_blank" title="AU_KBC Home"> AU-KBC Research Centre</a>, Anna University Chennai |

  </div>
</div>
</body>
</html>
