{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block content_class %}home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row">
        <div class="col-md-8">

    <div style="text-align: center">
        <div style="width: 50%; margin: 0 auto; text-align: left">
            <div style="display: table;">
              <div id="row" style="display: table-row; ">
<!--                     <div id="row" style="display: table-row;">
 -->
              
                <div id="left" style="display: table-cell; padding-right: 50px; ">
                    {% if request.user.account.user_category.user_category == 'school' %}
                     <a href="/students/child_detail/"><h4><center>{% trans "Students" %}</center></h4>
                     <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'aeeo' %}
                      
                         {% if 'AAEEO' not in request.user.username  %}
                      
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                     {% endif %}
                         {% if request.user.account.user_category.user_category == 'aeeo' %}
                   <a href="/teachers/block_teacher/"><h4><center>{% trans "Teacher" %}</center></h4><img src="{{STATIC_URL}}img/teacher_icon.jpg"/>
                   </a>
                    {% endif %}
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'CEO' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'DEEO' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'DEO' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'HOD' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                        {% endif %}
                    {% if request.user.account.user_category.user_category == 'IMS' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'DIPE' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'CIPE' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'IAS' %}
                     <a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}

                    {% if request.user.account.user_category.user_category == 'block' %}
                    <a href="/students/block/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'edu_district' %}
                    <a href="/students/block/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                     
                    
<a href="/teachers/staff_detailListView"><h4><center>{% trans "Staff Details" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/officestaff.jpg"/></a>
                    {% endif %}


                    {% if request.user.account.user_category.user_category == 'dee_district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'dse_district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'dms_district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'cbse_district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'icse_district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'othr_district' %}
                    <a href="/students/district/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'dee_state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'dse_state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'dms_state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'cbse_state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'icse_state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %}
                    {% if request.user.account.user_category.user_category == 'othr_state' %}
                    <a href="/students/state/"><h4><center>{% trans "Students" %}</center></h4>
                    <img src="{{STATIC_URL}}img/student_page.png"/></a>
                    {% endif %} 
            </div>

            <div id="middle" style="display: table-cell; padding-right: 50px; ">

<!--                 <div id="middle" style="display: table-cell; padding-right: 50px; ">
 -->                {% if request.user.account.user_category.user_category == 'school' %}
  <a href="{% url 'students_barcode_generator' %}"><h4><center>{% trans "Students ID Card" %}</center></h4>
  <img src="{{STATIC_URL}}img/Student_id.png"/></a>
                      <!-- <a href=""><h4><center>{% trans "Students ID Card" %}</center></h4>
                    <img src="{{STATIC_URL}}img/Student_id.png"/></a> -->
<!-- <div id="right" style="display: table-cell; padding-right: 50px; ">
                    <!-- <a href="/schoolnew/home/"><h4><center>{% trans "School" %}</center></h4>
                    <a href="/office_admin/office_registration/"><h4><center>{% trans "Office Admin." %}</center></h4>
        
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                </div> -->
                {% endif %}
                {% if request.user.account.user_category.user_category == 'aeeo' %}
                   {% if 'AAEEO' not in request.user.username  %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>

                    {% endif %}
                    {% endif %}
                {% if request.user.account.user_category.user_category == 'CEO' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}
                {% if request.user.account.user_category.user_category == 'DEEO' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}
               {% if request.user.account.user_category.user_category == 'DEO' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}

               {% if request.user.account.user_category.user_category == 'IMS' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}
               {% if request.user.account.user_category.user_category == 'HOD' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}
{% if request.user.account.user_category.user_category == 'DIPE' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}
{% if request.user.account.user_category.user_category == 'CIPE' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}
{% if request.user.account.user_category.user_category == 'IAS' %}
                    <a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                    {% endif %}

                {% if request.user.account.user_category.user_category == 'block' %}
                    <a href=""><h4><center>{% trans "Reports" %}</center></h4>
                    <!-- <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4> -->
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                    
                {% endif %}
               {% if request.user.account.user_category.user_category == 'aeeo' %}
                        
                     <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                     {% endif %}
                {% if request.user.account.user_category.user_category == 'edu_district' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %} 
                 {% if request.user.account.user_category.user_category == 'district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
<a href="/schoolnew/office_registration/"><h4><center>{% trans "Office Establishment" %}    </center></h4>
                    <img src="{{STATIC_URL}}img/headoffice.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'dee_district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'dse_district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'dms_district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'cbse_district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'icse_district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'othr_district' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'dee_state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'dse_state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'dms_state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'cbse_state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'icse_state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                 {% if request.user.account.user_category.user_category == 'othr_state' %}
                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
            </div>

                
{% if request.user.account.user_category.user_category == 'state' %}



                <div id="right" style="display: table-cell; padding-right: 50px; ">
                 <a href=""><h4><center>{% trans "School" %}</center></h4>
                    <img src="{{STATIC_URL}}img/School.png"/></a>
                 
                </div>

                
              </div>
{% endif %}    

{% if request.user.account.user_category.user_category == 'school' %}



                <div id="right" style="display: table-cell; padding-right: 50px; ">
                 <a href="/schoolnew/school_registration/"><h4><center>{% trans "School" %}</center></h4>
                    <img src="{{STATIC_URL}}img/School.png"/></a>
                </div>
                
              </div>

            </br>
              <div id="row"  style="display: table-row;">

                <!-- <div id="left" style="display: table-cell; padding-right: 50px; ">
                    <a href="/teachers/teacher_personal_detail/"><h4><center>{% trans "Teacher" %}</center></h4>
                    <img src="{{STATIC_URL}}img/teacher_icon.jpg"/></a>
                </div> -->
                <div id="left" style="display: table-cell; padding-right: 50px; ">
                    <a href="/teachers/teacher_detailListView/"><h4><center>{% trans "Teacher" %}</center></h4>

                    <img src="{{STATIC_URL}}img/teacher_icon.jpg"/></a>

                </div>

                <div id="right" style="display: table-cell; padding-right: 50px; ">
                    <a href="/messages/inbox/"><h4><center>{% trans "Mailbox" %}</center></h4>
                    <img src="{{STATIC_URL}}img/inbox.png"/></a>
                </div>

                <!--<div id="middle" style="display: table-cell; padding-right: 50px; ">
                    <a href=""><h4><center>{% trans "Teacher Attendance" %} </center></h4>
                    <img src="{{STATIC_URL}}img/teacher_attendance.png"/></a>
                </div>-->

              

                {% else %}

              </div>
            </br>
              <div id="row"  style="display: table-row;">

               {% if user.account.user_category.user_category == 'state'%}

                   <a href=""><h4><center>{% trans "Teacher" %}</center></h4><img src="{{STATIC_URL}}img/teacher_icon.jpg"/>
                   </a>
                   {% endif %}
                <!-- <div id="left" style="display: table-cell; padding-right: 50px; ">
                    <a href="/teachers/teacher_personal_detail/"><h4><center>{% trans "Teacher" %}</center></h4>
                    <img src="{{STATIC_URL}}img/teacher_icon.jpg"/></a>
                </div> -->
                <div id="left" style="display: table-cell; padding-right: 50px; ">
                     {% if request.user.account.user_category.user_category == 'school' %}


                <a href="/teachers/teacher_detailListView/"><h4><center>{% trans "Teacher" %}</center></h4>
                  <img src="{{STATIC_URL}}img/teacher_icon.jpg"/></a>


                      
                       {% endif %}
                   
                 {% if request.user.account.user_category.user_category == 'CEO' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
               {% if request.user.account.user_category.user_category == 'DEEO' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'DEO' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'HOD' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'IMS' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'ACEO' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'DIPE' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'CIPE' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
                {% if request.user.account.user_category.user_category == 'IAS' %}

                    <a href="/reports/list/"><h4><center>{% trans "Reports" %}</center></h4>
                    <img src="{{STATIC_URL}}img/report.png"/></a>
                {% endif %}
          

                   
                 {% if request.user.account.user_category.user_category == 'district' %}
                   <a href="/teachers/block_teacher/"><h4><center>{% trans "Teacher" %}</center></h4><img src="{{STATIC_URL}}img/teacher_icon.jpg"/>
                   </a>
                   {% endif %}


                </div>
               <!-- <div id="middle" style="display: table-cell; padding-right: 50px; ">
                    <a href=""><h4><center>{% trans "Teacher Attendance" %} </center></h4>
                    <img src="{{STATIC_URL}}img/teacher_attendance.png"/></a>
                </div> -->
                <div id="right" style="display: table-cell; padding-right: 50px; ">
                    <a href="/messages/inbox/"><h4><center>{% trans "Mailbox" %}</center></h4>
                    <img src="{{STATIC_URL}}img/inbox.png"/></a>
                </div>
            {% endif %}
              </div>
            

            

        </div>
    </div>
</div>
<br/>
<br/>
</div>
</div>




{% endif %}
{% endblock %}
